<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
    <ul class="navbar-nav flex-grow-1 justify-content-center">
        <li class="d-block d-sm-none">
            <partial name="_LoginPartial" />
        </li>
    </ul>
</div>