html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background: #f4f4f4;
  margin-bottom: 60px;
}
/* Home Page*/
.carousel-slide .carousel-inner {
    border-radius: .5rem;
}
